body, html {
	height:100%; width:100%;
	margin:0; padding:0;
	overflow-x:hidden;
	overflow-y:auto;
	background:linear-gradient(45deg, #E3F2FD, #ECEFF1, #FFF);
	text-align:center;
}

h1 {
	height:64px;width:100%;
	margin:0; padding:8px 20px;
	display:block; box-sizing:border-box;
	background-color:#FFF; box-shadow:0 2px 3px rgba(0,0,0, 0.3);
	font:bold 32px/48px "Roboto", "Verdana", sans-serif;
	color:rgba(0,0,0, 0.8); text-transform:uppercase;
	text-align:left;
}

.card {
	width:800px; max-width:100%;
	max-height:600px; height:calc(100% - 72px); min-height:400px;
	display:inline-block; box-sizing:border-box;
	border-radius:2px; box-shadow:0 2px 3px rgba(0,0,0, 0.3);
	background-color:#FFF;
	padding:12px 24px; margin:36px 0 0 0;
	overflow:hidden;
	position:relative;
	font-size:0; text-align:left;
}

.card.collapsed {
	height:60px; min-height:60px;
}
.card .title {
	height:36px; width:auto;
	display:block; box-sizing:border-box;
	padding:6px 0px; margin-bottom:12px;
	font:bold 16px/24px "Roboto", "Verdana", sans-serif;
	color:#808080;
}
.card .actions {
	height:60px; width:100%;
	display:block; box-sizing:border-box;
	padding:12px 24px; margin:0;
	position:absolute; bottom:0; right:0;
	font-size:0px;
	color:#808080; text-align:right;
}
.card.collapsed .actions {
	display:none;
}
.card .size_change {
	height:36px; width:36px;
	display:inline-block; box-sizing:border-box;
	position:absolute; top:12px; right:12px;
	padding:6px; font:normal 24px/24px "Material Icons";
	color:#808080; border-radius:50%;
}
.card .size_change:hover {
	background-color:rgba(0,0,0, 0.05);
	cursor:pointer;
}
.card .line {
	height:1px; width:100%;
	display:block; background-color:rgba(0,0,0, 0.2);
	margin-bottom:24px;
}
.card .column {
	width:50%; height:auto;
	display:inline-block; box-sizing:border-box;
	vertical-align:top;
}
@media (max-width: 500px) {
	.card .column {
		width:100%;
	}
	.card .big_number {
		text-align:left;
	}
}
.card .graph {
	height:180px; width:calc(100% - 12px);
	display:inline-block; box-sizing:border-box;
	padding:0; margin:0 0 0 12px;
	position:relative;
}
.card .graph_hh {
	height:2px; width:10px;
	display:none;
	background-color:#1565C0;
	box-shadow:0 0 5px #2196F3;
	position:absolute; top:0; left:0;
}
.card .graph_hl {
	height:2px; width:10px;
	display:none;
	background-color:#1565C0;
	box-shadow:0 0 5px #2196F3;
	position:absolute; bottom:0; left:0;
}
.card .graph_v {
	height:100%; width:3px;
	display:none;
	position:absolute; top:0;
	background-color:#1565C0;
	box-shadow:0 0 5px #2196F3;
}

.card .progress {
	height:24px; width:100%;
	display:inline-block;
	background-color:rgba(0,0,0, 0.1);
	border-radius:2px;
	overflow:hidden;
	margin-bottom:12px;
}
.card .progress_bar {
	height:100%; width:0%;
	display:inline-block; background-color:#2196f3;
	border-radius:2px;
	/*transition:width 50ms ease;*/
}
.card .big_number {
	height:60px; width:calc(100% - 80px);
	display:inline-block; box-sizing:border-box;
	padding:0 12px 0 0; margin:0 0 12px 0;
	font:bold 54px/60px "Roboto Mono", "Consolas", monospace;
	color:rgba(0,0,0, 0.8); text-align:center;
	vertical-align:top;
}
.card .small_number {
	height:60px; width:80px;
	display:inline-block; box-sizing:border-box;
	padding:0; margin:0;
	font-size:0;
	color:rgba(0,0,0, 0.8); text-align:center;
	vertical-align:top;
}
.card .small_number .item {
	height:24px; width:100%;
	display:block; box-sizing:border-box;
	margin:0; padding:0;
	font:bold 18px/24px "Roboto Mono", "Consolas", monospace;
	color:rgba(0,0,0, 0.65); text-align:center;
}
.card .small_number .divide {
	height:2px; width:calc(100% - 8px);
	display:block; box-sizing:border-box;
	padding:0; margin:5px 4px;
	background-color:rgba(0,0,0, 0.5);
}
.card .label {
	height:24px; width:100%;
	display:inline-block; box-sizing:border-box;
	font:bold 16px/24px "Roboto", "Verdana", sans-serif;
	color:#808080;
}
#eta {
	height:auto; width:100%;display:inline-block;
	padding:6px 0 6px 24px;
	font:normal 16px/1em "Roboto", sans-serif;
}

